.app-container {
  padding: 80px;
}

.inputSelect {
  width: 450px;
  height: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
}

.projectsList-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
}

.failureView-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.loadingView-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
